* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1173px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    backdrop-filter: blur(4px);
    width: 100%;
    background-color: transparent;
}

.header-d {
    max-width: 1173px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
}

.ul-header {
    display: flex;
    gap: 50px;
}

.ul-header li a {
    color: #A1B5BB;
}

.ul-header li:hover a {
    text-decoration: underline;
}

.p-img {
    display: flex;
    color: white;
}

.con {
    background-color: #145E76;
    color: white;
    width: 140px;
    height: 58px;
    border-radius: 25px;
    border: #145E76;
}

.menu{
    display: none;
}

.menu button{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-1 {
    background-image: url("../img/Rectangle-3.svg");
    background-color: #043E51;
    min-height: 978px;
}

.contents {
    display: flex;
}

.musa {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid #094556;
    background-color: #094556;
    border-radius: 30px;
    width: 195px;
    height: 65px;
}

.content {
    padding-top: 150px;
}

.brands {
    max-width: 537px;
    width: 100%;
    font-size: 64px;
    color: white;
    padding-top: 40px;
}

.visual {
    max-width: 511px;
    width: 100%;
    color: #849499;
    font-size: 18px;
    padding-top: 30px;
}

.hire {
    background-color: #FFA63A;
    border-radius: 25px;
    width: 137px;
    height: 61px;
}

.work {
    background-color: transparent;
    border-color: transparent;
}

.man {
    max-width: 599px;
    width: 100%;
    height: 730px
}

.man img{
    width: 100%;
}

.stat {
    min-height: 323px;
    margin-top: -150px;
    padding: 64px 54px;
    border-radius: 30px;
    box-shadow: 0px 73px 80px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}

.all-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 79px;
    max-width: 1173px;
    width: 100%;
}

.title {
    text-align: center;
}

.all-cards h1 {
    font-size: 48px;
    text-align: center;
}

.all-cards {
    font-size: 18px;
    gap: 10px;
}

.ser {
    margin-top: 200px;
    text-align: center;
}

.ser a {
    color: #265A6A;
}

.ser a:hover {
    text-decoration: underline;
}

.ser h1 {
    margin-top: 30px;
}

.pasti {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    gap: 10px;
}

.card-div{
    max-width: 273px;
    max-height: 251px;
    cursor: pointer;
}

.card {
    max-width: 273px;
    max-height: 251px;
    box-shadow: 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding: 30px 29px;
}

.svg {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #F5FBFC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    padding-top: 10px;
    font-size: 16px;
    display: inline-block;
    color: #B2BBBD;
}

.card h1 {
    font-size: 24px;
    padding-top: 25px;
}

.card-div:hover .card {
    background-color: #08546C;
    transition: 1s;
}

.card-div:hover .svg {
    background-color: #FFA800;
    transition: 2s;
}

.card-div:hover h1 {
    color: #fff;
    transition: 1s;
}

.infos h1 {
    padding-top: 200px;
    text-align: center;
}

.infos {
    padding-bottom: 60px;
    max-width: 569px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.infos p {
    height: 58px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tepa{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.tepa-chap-img {
    max-width: 515px;
    height: 386px;
}

.tepa-chap-img img {
    width: 100%;
}

.tepa-chap {
    max-width: 515px;
    height: 588px;
}

.tepa-chap p {
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0%;
    text-align: left;
}

.tepa-chap:hover a{
    color: #FFA800;
    transition: 1s;
}

.cards{
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
}

#section-3{
    background-image: url("../img/Rectangle-3.svg");
    background-color: #043E51;
    min-height: 730px;
}

.musa-past{
    display: flex;
    justify-content: space-between; 
    padding-top: 102px;
    padding-bottom: 102px;   
}

.man-chap{
    width: 664px;
    height: 526px;
}

.man-chap img{
    width: 100%;
    height: 100%;
}

.managed{
    color: white;
    padding-bottom: 25px;
}

.community{
    color: white;
    padding-bottom: 33px;
}

.ceo{
    color: #AABFC6;
}

.content img{
    padding-bottom: 33px;
}

footer{
    padding-top: 100px;
    min-height: 513px;
}

.eng-pasti{
    display: flex;
    justify-content: space-between;

}

.lorem{
    max-width: 344px;
}

.lorem p{
    width: 100%;
    font-size: 18px;
    padding-top: 30px;
    color: #787878;
}

.f-nav{
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.pages{
    max-width: 73px;
}

.li{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
}

.li a{
    color: #787878;
}


@media (max-width: 650px) {
    .h-nav{
        display: none;
    }

    .h-button{
        display: none;
    }

    .menu{
        display: block;
    }
}

@media (max-width: 535px) {
    .all-cards{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1070px) {
    .pasti{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1045px) {
    .tepa{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 1045px) {
    .musa-past{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 345px) {
   .f-nav{
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
   }

   .eng-pasti{
    flex-direction: column;
    justify-content: center;
   }
}

.ul-res{
    z-index: 34;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: aqua;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
}

.ul-res li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100px;
}

.ul-res li a{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 34px;
    gap: 100px;
    margin-left: auto;
    margin-right: auto;
}

.nav-close{
    position: absolute;
    right: 12px;
    top: 20px;
    background-color: transparent;
    border: none;
}